<div class="panel panel-danger">
  <div class="panel-heading"><strong><%= t('total_budget') %></strong></div>
  <div class="panel-body">
    <fieldset>
      <%= totals %>
    </fieldset>
  </div>
</div>