<% provide(:title, t('positions')) %>
<h1><%= t('positions') %></h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="input-group">
      <button type="button" class="btn btn-primary" aria-label="Left Align">
        <%= link_to t('create_position'), new_position_path, :class => "btn-primary" %>
      </button>
    </div>
  </div>
  <div id="positions-list">
    <%= render partial: 'positions/list', locals: { positions: @positions } %>
  </div>
</div>

<%= will_paginate @positions, :renderer => BootstrapPagination::Rails %>