<% provide(:title, t('projects')) %>
<h1><%= t('projects') %></h1>

<div class="panel">
  <button type="button" class="btn btn-default" aria-label="Left Align">
    <%= link_to t('create_project'), new_project_path, :class => "btn" %>
  </button>
</div>

<div class="panel panel-default" id="projects-list">
  <%= render partial: 'projects/list', locals: { projects: @projects } %>
</div>

<%= will_paginate @projects, :renderer => BootstrapPagination::Rails %>