<% provide(:title, t('technologies')) %>
<h1><%= t('technologies') %></h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-primary" aria-label="Left Align">
          <%= link_to t('create_technology'), new_technology_path, :class => "btn-primary" %>
        </button>
      </div>
    </div>
  </div>
  <div id="technologies-list">
    <%= render partial: 'technologies/list', locals: { technologies: @technologies } %>
  </div>
</div>

<%= will_paginate @technologies, :renderer => BootstrapPagination::Rails %>