<footer class="footer">
  <small>
    <%= t('copyright_text').html_safe %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t('about'), about_new_path %></li>
      <li><%= link_to t('help'), help_new_path %></li>
    </ul>
  </nav>
</footer>